/* rafting.css */
:root {
    --primary-color: #396E94; /* Replace with primary color */
    --secondary-color: #E7C24F; /* Replace with secondary color */
    --accent1-color: #A43312; /* Replace with accent color */
    --accent2-color: #381D2A; /* Replace with accent color */
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1200px; /* Limiting the width of the page */
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

p {
    color: var(--secondary-color);
}

a {
    text-decoration: none; /* Removing underline from links */
    color: var(--accent1-color);
}

.hero {
    position: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Background color with opacity */
    padding: 10px;
    color: var(--primary-color);
}

.hero article img {
    float: right;
    margin-left: 10px;
}

header img {
    max-width: 100px; /* Adjust as needed */
}

nav a {
    margin: 0 10px;
    color: var(--primary-color);
}

footer {
    text-align: center;
    padding: 20px 0;
}

footer .sociallinks a {
    margin: 0 10px;
}

footer .sociallinks img {
    width: 30px; /* Adjust as needed */
}