/* rafting.css */
:root {
    --primary-color: #396E94; /* Replace with primary color */
    --secondary-color: #E7C24F; /* Replace with secondary color */
    --accent1-color: #A43312; /* Replace with accent color */
    --accent2-color: #381D2A; /* Replace with accent color */
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1000px; /* Limiting the width of the page */
    margin: 0 auto;
    padding: 20px;
}
/*heading format*/
h1, h2, h3, h4, h5, h6, figcaption {
    color: var(--primary-color);
}

p {
    color: var(--secondary-color);
}

a {
    text-decoration: none; /* Removing underline from links */
    color: var(--accent1-color);
}

 /* Limit page width */
 * {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
 }

    /* Styling the hero section */
    
div.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 5px;
    height: auto;
    text-align: center;
    width: 100%;
    color: var(--accent2-color);
    max-width: 960px;
    padding: 0.65rem;
    background-color:rgba(49, 175, 212, 0.5);
    box-shadow: 0 0 30px;
    opacity: .9;
    margin: auto;

}

    /*Styling the article section */  
.hero article {
    position: absolute;
    bottom: 200px;
    opacity: 0.9;
    width: 80%;
    height: 5em;
    box-shadow: 0 0 30px;
    top: 60%;
    right: 10px;
    border-radius: 5px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.8); /* Background color with opacity */
    padding: 1em;
    color: var(--primary-color);
}

.hero img {
    display: block;
    height: auto;
    width: 100%
    
}

.article img {
    position: relative;
    width: 150px;
    height: auto;
    float: right;
}
/*Sections formatting*/
section h2 {
  color: #31AFD4;
  background-color:var(--accent2-color);
  font-size: xx-large;
}
section figcaption{
  color: #396E94;
  text-align: center;
}
section img {
  width: 200px;
}
/*History formating*/
section.history {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%; 
}
section.history h2{
  text-align: center;
  grid-column: 1 / span 4;
}
section.history p {
  grid-column: span;
  padding: 2rem;
}

/*picture formating*/
section.picture{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
section.pictures h2 {
  text-align: center;
  grid-column: 1 / span 5;
}
/*header format*/
header {
    margin: 1rem auto;
    display: flex;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
  }
.logo img {
    margin: 0 0.25rem 0.1rem;
    width: 64px;
    height: auto;  
}
.navigation {
    display: flex;
    list-style: none;
    opacity: .9;
  }
  .navigation li {
    flex: 1 1 100%;
  }
  .navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
    box-shadow: 0 0 5px #111;
    flex: 1 1 50%;
    text-align: center;background-color:var(--primary-color);
    color:var(--secondary-color);
  }
  navigation a :hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
  }
  nav {
    text-align: right;
  }
  .navigation {
    display: flex;
  }
  .flexbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid;
    height: auto;
  }
  
  .flexbox-item {
    width: 50px;
    margin: 10px;
    border: 3px solid #333;
  
  }
    /*styling the figure*/
  figure {
    border: thin #31AFD4 solid;
    display: flex;
    flex-flow: row;
    padding: 5px;
    min-width: 5%;
    height: 10%;
    margin: auto;
    align-items: stretch;
    object-fit: cover;
    
  }
  .adventures-grid img {
    width: 20%;
    height:  20%;
    display: flexbox;
    margin: 10px;
    border: 3px solid #333;
    display: flex;
  }
   /* Add any desired styles for the captions */
  .adventures-grid figcaption {
    background-color: #200;
    color: #FFFFFF;
    padding: 2px;
  }
header img {
    max-width: 100px; /* Adjust as needed */
}

nav a {
    margin: 0 10px;
    color: var(--primary-color);
}footer .sociallinks img {
    text-align: center;
    padding: 20px 0;
    width: 30px;
    margin-right: 10px;
  }